@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3, h4, h5, h6, p, button, a, label, td {
    @apply text-slate-50;
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: 300;
}

h1 {
    @apply text-3xl;
}

h2 {
    @apply text-2xl;
}

h4, h5, h6, p, button, a, label, td {
    @apply text-sm;
}

button {
    @apply rounded bg-pink-800 p-2;
}

button:hover {
    @apply bg-pink-700;
}